html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#main {
  margin: 15% auto;
  width: 50%;
}

input {
  width: 70%;
  height: 30px;
  padding-left: 5px;
  margin: 5% auto;
  display: block;
}

.streamer {
  padding: 7px;
  border: black 3px solid;
  height: 75px;
  margin-top: -2px;
  margin-bottom: -2px;

}

img {
  width: 75px;
  height: 75px;
  border: black 3px solid;
  border-radius: 25px;
  display: block;
  float:left

}
span{
    word-wrap: break-word
}
.display-name, .display-status {
  display: inline-block;

  float:left;
  padding-left: 5px;
}

.display-name {
  font-weight: bold;

}

.display-status {
  font-style: italic;

}

i {
  text-align: center;
  border: black 3px solid;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  float:right;

}

.tab-bar .tab-bar-item {
  margin-bottom: 5%;
  padding: 8px 16px;
  float: left;
  width: 33%;
  border: none;

}

button.tab-bar-item.tab-active{
  background-color: red;
}
