html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #19171c;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  margin: auto;
  text-align: center;
  color: #fff;
  background-color: #19171c;
  padding: 10px;
  font-size: 40px;
}

.main {
  margin: 5% auto;
  width: 50%;
  background-color: #6441a4;
}

input {
  width: 70%;
  height: 30px;
  padding-left: 5px;
  margin: 5% auto;
  display: block;
}

.streamer {
  padding: 7px;
  border: grey 3px solid;
  height: 75px;
  margin-top: -2px;
  margin-bottom: -2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
}

img {
  width: 75px;
  height: 75px;
  border: black 3px solid;
  border-radius: 25px;
  display: block;
  float: left
}

p {
  word-wrap: break-word;
  width: auto;
  height: auto;
}

.display-name, .display-status {
  display: inline-block;
  float: left;
  padding-left: 5px;
}

.display-name {
  font-weight: bold;
  cursor: pointer;
}

.display-name:hover {
  text-decoration: underline;
}

.display-status {
  font-style: italic;
}

i {
  text-align: center;
  border: black 3px solid;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  float: right;
}

.tab-bar .tab-bar-item {
  margin-bottom: 5%;
  padding: 10px 16px 8px 16px;
  float: left;
  width: 33.33%;
  border: none;
  font-size: 17px;
}

button {
  font-family: inherit;
}

button.tab-bar-item.tab-active {
  background-color: #0e9bd8;
}
